<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lines</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <div>
            service: <input v-model="service" placeholder="edit me">
        </div>
        <div>
            title: <input v-model="title" placeholder="edit me">
        </div>
        <div>
            season_num: <input v-model="season_num" placeholder="edit me">
        </div>
        <div>
            episode_num: <input v-model="episode_num" placeholder="edit me">
        </div>
        <div>
            url: <input v-model="url" placeholder="edit me">
        </div>
        <button @click="postUrl">submit</button><br>
        {{ result }}
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            service: '',
            title: '',
            season_num: '',
            episode_num: '',
            url: '',
            result: ''
        },
        methods: {
            postUrl: function () {
                axios.post(
                    'http://localhost:8000/api/episodes/',
                    {
                        service: this.service,
                        title: this.title,
                        season_num: this.season_num,
                        episode_num: this.episode_num,
                        url: this.url,
                    },
                    {
                        auth: {
                            username: 'elastic',
                            password: 'aeVIUEp4_aPlkRxxUfA9'
                        }
                    })
                    .then(res => {
                        this.result = 'OK'
                    })
                    .catch(err => {
                        this.result = err
                    })
            }
        }
    })
</script>

</html>